@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    margin: 0 auto;
    background: #ffffff;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

a {
    color: #000000;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px 10px;
    display: inline-block;
    text-align: center; 
    font-size: 20px;
}

.navleft {
    position: fixed;
}

.navleft ul {
    margin-top: 0;
    margin-right: 20px;
    display: flex;
}
.navleft li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;   
}

.navcenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
}

.navcenter li {
    list-style: none;
    display: inline-block;
}

.navcenter li a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
    background-position-x: center; 
    font-size: 20px;
}

.navcenter li a:hover,
.navcenter li a:focus {
  background-size: 100% 2px;
  background-position-x: center;
}

.imagenes {
    max-width: 1200px;
    height: 370px;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagenes ul {
    padding: 0;
}

.imagenes ul li {
    text-align: center;
    font-size: 15px;
    list-style: none;
    font-weight: 100px;

}

.img {
    display: inline-block;
    margin: auto;
    padding: 10px;
    margin: 10px;
}

.img img {
    width: 200px;
    height: 250px;
    border: 2px solid black;
}

.titulo {
    max-width: 1200px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.titulo h1 {
    font-size: 20px;
}

.portada img {
    width: 1500px;
    height: 500px;
}


  